body {
font-family: "Macondo", cursive;
background-image: url(https://www.look.com.ua/large/201209/21755.jpg);
background-size: cover;
height: 800px;
width: 1332px;
}

div.content {
font-family: "Macondo", cursive;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
}

.search-tab {
max-width: 860px;
margin: 0 auto;
}


div.card-box {
color: white;
text-align: center;
border: 1px solid rgba(255, 255, 255, 0.411);
border-radius: 8px;
padding: 10px 60px 40px 130px;
margin: 0 auto;
height: 210px;
max-width: 1000px;
background-color: rgba(153, 65, 175, 0.425);
}

div.search {
margin: 0 auto;
max-width: 860px;
}
#search-form {
padding: 5px 5px 5px 5px;
}

.Skogsby,
.specifics {
text-align: center;
left: -20%;
margin-right: -20%;
}

#link-celsius,
#link-fahrenheit {
font-size: 25px;
color: white;
text-decoration: none;
}

#link-celsius:hover,
#link-fahrenheit:hover {
color: #dca2d9;
}

.Skogsby {
font-size: 20px;
padding-top: 30px;
}
.specifics {
font-size: 20px;
padding-top: 30px;
}
.sun {
font-size: 80px;
display: block;
margin: 0 auto;
}
.emoji {
line-height: 100%;
padding-top: 20px;
display: block;
margin: 0 auto;
}

#description {
font-style: italic;
font-size: 20px;
text-transform: capitalize;
}

.temp {
font-size: 25px;
}
.nightTemp {
color: white;
padding-left: 5px;
}

#button {
border: 1px solid white;
border-radius: 6px;
font-size: 20px;
}
#button:hover {
font-weight: 700;
background: white;
border: 1px solid white;
border-radius: 6px;
}
#site-search {
border: none;
border-radius: 6px;
font-size: 20px;
width: 375px;
}
#currentLocation {
border: 1px solid white;
border-radius: 6px;
font-size: 20px;
background-color: transparent;
}
#currentLocation:hover {
transition: 150px ease-in-out;
background-color: white;
}

.weather-forecast {
margin-top: 20px;
height: 155px;   
color: white;
text-align: center;
border: 1px solid rgba(255, 255, 255, 0.411);
border-radius: 8px;
padding: 10px 30px 30px 30px;
margin: 0 auto;
max-width: 595px;
background-color: rgba(153, 65, 175, 0.425);
}
.weather-forecast-date {
margin-top: 18px;
color: white;
font-size: 26px;    
}
.weather-forecast-temperature-min {
font-size: 15px;
opacity: 0.7;
}
  
.weather-forecast-temperatures {
font-size: 18px;
}

.footer {
text-align: center;
font-size: 15px;
padding-top: 55px;
color: white;
}

#link-github, #link-netlify {
color: blueviolet;
font-size: 17px;
font-weight: bolder;
}